[Unit]
Description=Logs sensor data received via mqtt to database.
After=multi-user.target hostapd.service

[Service]
Type=simple
Restart=always
ExecStart=/home/beta/mqtt_data_logger/venv/bin/run_mqtt_logger

[Install]
WantedBy=multi-user.target
