[Unit]
Description=Logs sensor data received via mqtt to database.
After=multi-user.target hostapd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/mqtt_logger/__main__.py

[Install]
WantedBy=multi-user.target
