[Unit]
Description=Runs a visualization dashboard for the collected sensor data.
After=multi-user.target  mqtt.service

[Service]
Type=forking
Restart=always
ExecStart=/home/beta/sensor-hub/bin/run_sensor_dashboard


# TODO: replace above with python path.
[Install]
WantedBy=multi-user.target

