[Unit]
Description=Runs a visualization dashboard for the collected sensor data.
After=multi-user.target  mqtt.service

[Service]
Type=simple
Restart=always
ExecStart=/home/beta/sensor-hub/bin/run_sensor_dashboard

[Install]
WantedBy=multi-user.target

